package components

templ Footer() {
	<footer class="px-4 py-6 pb-24 bg-[#0B0E0F]">
		<p class="text-center text-sm font-semibold text-[#E1E2E4] tracking-wide">
			© 2026 NPL Analytics. All rights reserved.
		</p>
	</footer>
}
